body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding:25px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0,0, 0.1);
}

h1, h2, h3 {
  text-align: center;
  font-weight: 600;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

button{
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
  background-color: #005dc1;
}

.table th, .table td{
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.logout-button {
  background-color: #dc3545;
}

.logout-button:hover {
  background-color: #a71d2a;
}

